[Desktop Entry]
Name=Lite Updater
GenericName=Lite Updater
Comment=A simple, lite updater checker for your tray.
Exec=lite-updater
Terminal=false
Icon=liteupdater
Type=Application
Categories=Settings;
Version=1.0
