[Desktop Entry]
Name=Nix Updater
GenericName=Nix Updater
Comment=A simple, lite updater checker for your tray.
Exec=nixupdater
Terminal=false
Icon=nixupdater
Type=Application
Categories=Settings;
Version=1.0
